@page "/"

<PageTitle>Weather Forecasts Home</PageTitle>

<h1>Weather Forecasts Home</h1>

Each city on the left is a separate collection of blazor pages each connecting to a siloed microservice.
