<h4 style="color: @this._color">@this.TempF</h4>

@code {
    [Parameter]
    public int TempF { get; set; }

    private string _color = string.Empty;

    protected override void OnParametersSet()
    {
        if (this.TempF < 50)
        {
            this._color = "blue";
        }
        else
        {
            this._color = "red";
        }

        base.OnParametersSet();
    }
}
