@page "/lincoln/forecast"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject LincolnHttpClient LincolnHttpClient

<PageTitle>Lincoln forecast</PageTitle>

<h1>Location: @this._forecastResponse?.Location</h1>
<h2>Weather Type: @this._forecastResponse?.WeatherType</h2>

@code {
    private LincolnForecastResponse? _forecastResponse = new LincolnForecastResponse();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            this._forecastResponse = await LincolnHttpClient.Client.GetFromJsonAsync<LincolnForecastResponse>("/lincoln");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
